.profileArea{
	margin-bottom:50px;
}

.profilePhoto{
	border-radius:100px;
	margin:40px;
	float:left;
	width:200px;
}

.nameArea{
	margin-top:30px;
	font-size:35px;
	font-weight:bold;
}

.typeArea{
	margin-top:10px;
	font-size:25px;
	color:#AAAAAA;
}

.universityArea{
	padding:15px;
	font-size:20px;
	color:#444444;
}

.informationArea{
	width:800px;
	height:350px;
}

.informTitleArea{
	float:left;
	font-size:25px;
	font-weight:bold;
	width:300px;
	height:50px;
	text-align:center;
}

.informContentArea{
	float:left;
	font-size:20px;
	color:#AAAAAA;
	width:500px;
	height:50px;
	text-align:center;
}

.titleBox{
	text-algin:center;
	float:left;
	font-size:25px;
	font-weight:bold;
	margin-left:150px;
	padding:10px;
	width:160px;
	height:60px;
}

.dataBox{
	float:left;
	margin-right:100px;
	width:300px;
	padding:20px;
	height:40px;
}

.profileType{
	font-size:40px;
	font-weight:bold;
}

.peopleArea{
	width:800px;
	height:100px;
}

.peopleNameArea{
	font-size:20px;
	padding:10px;
}

.peoplePhoto{
	width:250px;
	border-radius:125px;
}

.peopleTypeArea{
	padding:5px;
	color:#0066FF;
	font-size:25px;	
}

.textColorA{
	color:black;
}

.font20px{
	font-size:20px;
}