#iotImage{
	width:600px;
	height:550px;
}

.titleFont{
	font-size:25px;
	font-weight:bold;
	margin-bottom:15px;
}

.informFont{
	font-size:20px;
	margin-bottom:10px;
}

#downloadIcon{
	width:250px;
	margin-left:auto;
	margin-right:auto;
}

.downloadForm{
	margin-bottom:30px;
}