@import url(http://fonts.googleapis.com/css?family=Oswald:400);
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

.jumbotron { 
    background-color: #f4511e; /* Orange */
    color: #ffffff;
}

.bg-grey {
    background-color: #f6f6f6;
}


.container-fluid {
    padding: 100px 100px;
}

.logo {
    font-size: 200px;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}

body{
	margin:0;
	padding:0;
}

.header{		
	border-bottom:1px solid #DDDDDD; 
}

.titleArea{	
	height:100px;
	margin-bottom:30px;
}

.inTitleArea{
	margin-left:auto;
	margin-right:auto;
	margin-top:50px;
	margin-bottom:10px;
	width:1300px;
}

.menuArea {
	height:80px;
}

.inMenuArea{
	width:1300px;	
	margin-left:auto;
	margin-right:auto;
}

.footer {
	background-color:#2B2B2B;
}

.inFooter{
	width:1300px;
	margin-left:auto;
	margin-right:auto;
	background-color:#2B2B2B;
	text-align: right;
	font-size: 15px;
	color:white;
	padding:20px;
	height:5%;
}

#logo {
	width: 84px;
	height: 60px;
	float: left;
}

#titleText {	
	text-align:center;
	color: black;
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	font-weight: bold;
	margin:0;
	padding:0;
}

#toLoginButton, #toRegisterButton {	
	float:right;
	margin:10px;
	padding: 10px;
	font-size: 15px;
	font-weight:bold;
	border:none;
	cursor:pointer;
	color:#538fbe;
	border-radius:20px;
	background-color:white;
}

#toLoginButton:hover, #toRegisterButton:hover{
	color:#337fbe;
}

h2 {
	font-size: 25px;
}

#map {
	width: 600px;
	height: 400px;
}

#icon {	
	display:block;
	margin:0 auto;
}

#introText {
	font-family: 'Josefin Sans', sans-serif;
	text-align:center;
	font-size: 30px;
}

ul {
	list-style-type: none;
}

.menu {
	display: inline-block;
	position: relative;
	float: left;
	width: 240px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 25px;
	text-align: center;
	float: left;
	color:black;
}

.menu:hover {	
	font-weight: bold;
	color: #2196F3;
}

.mainArea {
	overflow:hidden;
	margin-left: auto;
	margin-right: auto;
	width: 1300px;
	background-color:white;
	padding-top:50px;
	padding-bottom:100px;
}

.contentArea {
	float:left;
	width: 950px;
}

.subMenuArea {	
	float:left;
	margin-left: 50px;
	width: 200px;
	margin-right: 50px;
}

.subMenuList {
	margin-right: 30px;
	padding-bottom: 50px;
	border-top: 5px solid #3399FF;
	border-left: 1px solid #EBF5FF;
	border-right: 1px solid #EBF5FF;
	border-bottom: 1px solid #EBF5FF;
}

.subMenu {
	display: inline-block;
	width: 150px;
	font-size: 15px;
	margin-top: 50px;
	color: black;
}

.subMenu:hover {
	font-weight: bold;
	color: #2196F3;
}

.subMenuSelected {
	color: #2196F3;
	font-weight: bold;
}

h3 {
	border-bottom: 3px solid #CCCCCC;
	padding-bottom: 10px;
	font-size: 25px;
	font-weight: normal;
}

a {
	text-decoration: none;
}

#siteLink{
	color: blue;
	font-weight: bold;
}

.successMessageArea{
	margin-top:500px;
	width:300px;
	margin:auto;
}