<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="DownloadMapper">

	<select id="getDownloadList" resultType="DownloadVo">
		SELECT
		* FROM t_download
		ORDER BY date DESC;
	</select>

</mapper>